
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/style/designFile.css" rel="stylesheet" type="text/css">
    <title>Login Page - Job Horizon</title>
</head>
<body>
    <div class="header">
        <h1> &nbsp &nbsp &nbsp Job Horizon - Login </h1>
        <p class="linkTable">
            &nbsp &nbsp &nbsp &nbsp &nbsp 
            @Html.ActionLink("About Job Horizon", "Index", "Home") 
        </p>
    </div>

    <br/><br /><br />
    <div align="center">

        <div >
            
            <div class="formDiv">
                <form method="post">
                    <div class="imgcontainer">
                        <img src="~/Images/LoginViewLogo.png" alt="Avatar" class="avatar" height="50" width="50">
                    </div>
                    <div>
                        @if (TempData["Error"] != null)
                        {
                            <p class="buttonBack"> @TempData["Error"] </p>
                        }
                    </div>
                    <div class="container">
                        <br />
                        <div>
                            <label for="Email"><b>Username</b></label>
                            <input type="text" placeholder="Enter your Email" name="Email" required>
                        </div>
                        <br />
                        <div>
                            <label for="Password"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="Password" required>
                        </div>
                        <br />
                        <div>
                            <button type="submit">Login</button>
                        </div>
                        <br/>
                        Don't Have An Account?@Html.ActionLink("Register Here", "Index", "Registration")
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
