
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Statistics</title>
</head>
<body>
    <div align="center">
        <h2>Statistics</h2>
        <hr />

        <div>
            Total No of Users: @ViewBag.NoOfUser
        </div>
        <div>
            Total No of Jobs: @ViewBag.NoOfJobs
        </div>
    </div>
</body>
</html>
